html * {
    box-sizing: border-box;
}
body {
    text-align: center;
    font-family: helvetica;
    color: #eee;
    transition: all 10s;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

button {
    text-stroke: 0;
    -webkit-text-stroke: 0;
}


.transparent {
    color: transparent;
}
.hidden {
    display: none;
}
button {
    cursor: pointer;
}

.menu {
    display: block;
    padding: 5px 0 20px 0;
}

.tab {
    display: inline-block;
    padding: 4px;
    cursor: pointer;
    transition: all 0.3s;
    border: solid 2px black;
    color: #ffd800;
    background-color: black;

    font-weight: bold;
    font-size: 12px;
}
.tab:hover {
    background-color: rgb(45, 45, 12);
}
.tab--active {
  background-color: #ffd800;
  color: black;
}
.tab--active:hover {
  background-color: #b1980d;
  color: black;
}

#time {
    font-size: 20vw;
    opacity: 0.85;
    display: inline-block;
    position: relative;
    /* text-shadow: 0px 0px 2px #555; */
    text-stroke: 1px #222;
    -webkit-text-stroke: 1px #222;
    font-weight: bolder;
}
#seconds {
    font-size: 5vw;
    position: absolute;
    top: -10px;
    right: -100px;
}

#count-up-timer-clock {
    margin-bottom: 20px;
    font-size: 20vw;
}

#count-up-timer button {
    color: white;
    background-color: #4b89dc;
    outline: #4b89dc;
    border: none;
    padding: 10px;
    margin: 0 10px;
}

#count-up-timer button:hover {
  background-color: #14478a;
}

#count-up-timer button:active {
  background-color: #14478a;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
  color: gold;
}


#calendar iframe {
    width: calc(100vw - 20px);
    min-height: 2000px;
    margin-left: -8px;
}

#world > div > span {
    font-weight: 300;
}

.world-table {
    text-align: left;
    margin: 0 auto;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    stroke: 0;
    -webkit-text-stroke: 0;
}
.world-table .timezone {
    display: flex;
    justify-content: space-between;
}